!!! 5
html(lang='en')
	head
		title Authentication
		script(type="text/javascript").
			function sendMessage(msg){
				window.parent.postMessage(msg, '*');
			}
	body
		h1 Unathorised
		p You're unathorised to view this page.
		p Please <a onclick="sendMessage('login')" href="">login</a> to continue
			
			